
.main {
    width: 100%;
    padding: 50px;
}

.ContactPage {
    width: 70%;
    height: 500px;
}

.contacttext {
    width: 50%;
    background-color: rgb(255, 178, 35);
    display: flex;
    height: 450px;
}

.te {
    width: 300px;
    text-align: center;
    margin: auto;
    color: white;
}

.te h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 17px;
}
.formdata {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.contact {
    font-size: 35px;
    font-weight: 700;
    margin: auto;
    width: max-content;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.inputs input{
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
    height: 50px;
    padding-left: 15px;
}
textarea{
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
    padding-left: 15px;
}
.formdata button{
    border: none;
    background-color: rgb(255, 178, 34);
    width: 150px;
    height: 45px;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width:768px) {
    .ContactPage {
        width: 100%;
    }
    .formdata {
        width: 100%;
    }
    .contacttext {
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .ContactPage {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .formdata {
        width: 100%;
    }
    .contacttext {
        width: 100%;
    }
}